@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

@layer utilities {
  .shadow-brutal {
    box-shadow: 4px 4px 0px 0px #000000;
  }
  .shadow-brutal-lg {
    box-shadow: 8px 8px 0px 0px #000000;
  }
  .shadow-brutal-sm {
    box-shadow: 2px 2px 0px 0px #000000;
  }
}
